[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chrooter
GenericName=Chrooter
Comment=Chroot to a Linux based system
Comment[el]=Κάντε Chroot σε ένα σύστημα βασισμένο στο Linux
Comment[es_AR]=Aplica «chroot» a un sistema basado en Linux
Comment[es_ES]=Hacer chroot a un sistema Linux
Comment[fr]=Chroot dans un système de type Linux
Comment[id]=Chroot ke sistem berbasis Linux
Comment[it]=Lancia Chroot su un sistema Linux
Comment[ja]=Linux ベースシステムへ chroot します
Comment[pl]=Chrootowanie do systemu bazującego na Linuksie
Comment[pt_BR]=Aplica o «chroot» em um sistema baseado em Linux
Comment[pt_PT]=Chroot para um sistema baseado em Linux
Comment[ru]=Chroot к системам на основе Linux
Exec=remsu /usr/bin/sparky-chrooter
Icon=utilities-terminal
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System;

