[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chrooter Help
Name[el]=Βοήθεια για το Chrooter
Name[es]=Ayuda de Chrooter
Name[fr]=Aide de Chrooter
Name[id]=Bantuan Chrooter
Name[it]=Chrooter Aiuto
Name[ja]=Chrooter ヘルプ
Name[pl]=Pomoc Chrootera
Name[pt_BR]=Ajuda do Chrooter
Name[pt_PT]=Chrooter Help
Name[uk]=Довідка до Chrooter
GenericName=Chrooter Help
Comment=Sparky Chrooter Quick Help
Comment[el]=Γρήγορη βοήθεια για το Sparky Chrooter
Comment[es_AR]=Ayuda rápida para Sparky Chrooter
Comment[es_ES]=Ayuda rápida de Chrooter
Comment[fr]=Aide rapide de Sparky Chrooter
Comment[id]=Bantuan Cepat Chrooter Sparky
Comment[it]=Sparky Chrooter Aiuto Rapido
Comment[ja]=Sparky Chrooter クイックヘルプ
Comment[pl]=Szybka Pomoc dla Sparky Chrooter
Comment[pt_BR]=Ajuda rápida do Sparky Chrooter
Comment[pt_PT]=Ajuda rápida do Sparky Chrooter
Comment[ru]=Sparky Chrooter Быстрая Помощь
Comment[uk]=Sparky Chrooter Швидка Довідка
Exec=/opt/sparky/sparky-chrooter-help
Icon=help
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;System;

